@import url('reset.css');
/* font-family: 'Montserrat', sans-serif; */

/* !GLOBAL STYLES */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #F5F5F5;
    color: #161616;
    font-size: 18px;
}


.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Header*/
.header {
    background: #81A36B;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 155px;
    height: 39px;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 90px
}

.header-menu>li a {
    color: #161616;
    text-decoration: none;
}






/*flower*/

.flower .container {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*.headr-box{

}*/

.flower-image {
    height: 670px;
    margin-left: 30px;
}

.flower-image img {
    flex: 0 0 100%;
}

.m-40 {
    margin: 0 0 40px 0;
}

.m-60 {
    margin-bottom: 60px;
}




/*flower2*/
.flower-2 .container {
    display: flex;
    align-items: center;
    padding: 100px 0;
    text-align: center;
}

.padding40 {
    padding: 40px;
}

.box-1 {
    max-width: 540px;
    margin: 0 auto;
}


/*------------------------------------------*/

.text-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.text-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 0 0 60px;
}


.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}



/*flower3*/
.flower-3 .container .header-box {
    display: flex;
    align-items: center;
}

.flower-3 {
    padding: 120px 0;
}

.box-2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.flower-image_2 {
    height: 560px;
}

.flower-image_2 img {
    flex: 0 0 100%;
}





/*Button*/

.button {
    display: flex;
    margin: 0 -60px;

}


.button-1 {
    color: #000;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 20px;
    background: #81A36B;
    border: 0;
    outline: 1px solid #7c9c66;
    margin: 0 60px;

}

.button-2 {
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    background: transparent;
    border: 0;
    outline: 1px solid #81A36B;
}



/*-----------------------*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.section-cards h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.section-cards h1+p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 30px;
    padding: 0 0 60px;

}

.card {
    background: #81A36B;
    font-size: 16px;
    width: 33%;
    padding: 15px 15px 40px;

}

.card-text {
    padding: 16px;
}



/* .cards-item {
       border: 1px solid #81A36B;
       padding: 3px;
       border-radius: 3px;
   } */

.link-image {
    display: block;
    height: 402px;
}

.link-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------*/



/* *TODO: PRICE */
.price {
    background: #81A36B;
    padding: 80px 0;
}

.price-box {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
}

.price-box img {
    margin: 0 0 20px;
}



/* !FOOTER */
.footer {
    background: #81A36B;
    padding: 60px 0;
}

.flex-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.flex-conteiner h3 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
}

.footer-contact a {
    color: #161616;
    text-decoration: none;
    display: inline-block;
}
.footer-contact ul>li+li {
    margin-top: 20px;
}


/* .footer-contact ul > li:last-child {
	margin-bottom: 0;
} */


.footer-year {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}






.flex-container {
    display: flex;
    text-align: center;
    left: 0;
    margin-top: 80px;
}


/* !FOOTER */

.icon-down>ul {
    display: inline-flex;
    gap: 15px;
}

.block {
    height: 100%;
    width: 100%;
    justify-content: center;
}

.hidden {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}



.block {
    font-size: 1rem;
    padding: 0.5rem;
}

.block li a {
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #161616;
}

.icon:hover {
    fill: #ccc;
}

/*_____________________________________*/



/*_____________BURGER________________________*/

.open {
    display: flex !important;
}


.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background: #161616;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #161616;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}


.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/*_____________________________________*/

@media screen and (max-width: 1100px) {

    .burger {
        display: flex;
    }

    /* .header-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background: #7c9c66;
        animation: banim 0.4s;
    }

    .header-menu li{
        flex-direction: column;
        row-gap: 30px;
    }*/

    .header-menu {
        display: flex;
        width: 100%;
    }


    .header-menu li {
        display: none;
    }



    /*_____________________________________*/
    .flower .container {
        display: inline-block;
    }

    .m-40 {
        margin-top: 20px;

    }

    .m-60 {
        margin-bottom: 20px;
    }

    .flower-image {
        margin-top: 20px;
    }

    .flower-image img {
        flex: 1 1 50%;
        height: 300px;
        width: 420px;
        object-fit: cover;
    }

    .text-1 {
        font-weight: 500;
        font-size: 40px;
    }



    /*flower2*/
    .flower-2 .container {
        padding: 40px 0;
    }

    .padding40 {
        padding: 20px;
    }

    .box-1 {
        max-width: 400px;
        margin: 0 auto;
    }



    .cards img {
        flex: 1 1 30%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }



    /*_____________________________________*/


    .button-1 {
        padding: 10px 20px;
        font-size: 16px;
        border: 0;
        margin: 0 60px;
    }

    .button-2 {

        padding: 10px 10px;
        font-size: 16px;
        border: 0;
    }

    /*_____________________________________*/

    .flower-image {
        height: 100%;
    }

    .flower-image_2 {
        height: 100%;
    }

    .flower-image_2 img {
        flex: 1 1 50%;
        height: 300px;
        width: 420px;
        object-fit: scale-down;
    }

    .text-2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 0 0 60px;
    }
    
    
    .text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

}




/*_____________BURGER________________________*/
@keyframes banim {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*_____________________________________*/





@media screen and (max-width: 800px) {
    .header-menu {
        display: flex;
        position: fixed;
        width: 100%;
    }


    .header-menu li {
        display: none;
    }

    .box .cards {
        flex-flow: wrap;
    }

    .box img {
        flex: 1 1 30%;
    }
    
  /*_____________________________________*/


    .text-center {
        text-align: center;
    }
    
    .text-left {
        text-align: left;
    }
    
    .section-cards h1 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .section-cards h1+p {
        font-size: 14px;
        margin-bottom: 18px;
    }
    
    .cards {
        display: flex;
        justify-content: center;
        gap: 18px;
        padding: 0 0 30px;
    
    }
    
    .card {
        background: #81A36B;
        font-size: 12px;
        width: 33%;
        padding: 10px 10px 30px;
    
    }
    
    .card-text {
        padding: 12px;
    }
    
    
    .link-image {
        display: block;
        height: 200px;
    }
    
    .link-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    


}




@media screen and (max-width: 650px) {
    .header-menu {
        display: flex;
        position: fixed;
        width: 100%;
    }


    .header-menu li {
        display: none;
    }


    .flower-image img {
        flex: 1 1 20%;
    }

    .card-item img {
        max-width: 50px;
    }

}




@media screen and (max-width: 350px) {
    .header-menu {
        display: flex;
        position: fixed;
        width: 100%;
    }


    .header-menu li {
        display: none;
    }


    .flower-image img {
        height: 50%;
        flex: 1 1 20%;
    }

}